
#h1Inicio{
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

#h2Blog{
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}


#pBlog{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Smartphones */
@media (max-width: 767px){

  #h1Inicio{
    font-size: 50px;
}


#h2Blog{
  font-size: 40px;
}

#pBlog{
  font-size: 20px;
}



    .imgInicio{

        height: 125px;
        width: 225px;
    }
  
  }

  /*Tabletas pequeñas */
  @media (min-width: 768px) and (max-width: 1023px){

    #h1Inicio{
      font-size: 80px;
  }

  #h2Blog{
    font-size: 70px;
  }

  #pBlog{
    font-size: 35px;
  }
  

    .imgInicio{

        height: 250px;
        width: 450px;
    }

   
  }


  #liBlog{
    color: white;
  }